{% extends "base.html" %}

{% load static %}

{% block title %}Каталог{% endblock %}

{% block content %}
  <div class="container">
    <div class="header">
      <h1>Телефон</h1>
    </div>


    <div class="content">

        <div class="Phone">
          <h3> {{ phone.name }}</h3>
          <div>Стоимость: {{ phone.price }} ₽</div>
          <div>Дата выпуска: {{ phone.release_date }}</div>
          <div>LTE: {{ phone.lte_exists|yesno:'есть,нет' }}</div>
          <img height="400" src="{{ phone.image }}" alt="{{ phone.name }}"/>
        </div>

    </div>
  </div>
{% endblock %}
