{% extends "base.html" %}

{% load static %}

{% block title %}{{ phone.name }}{% endblock %}

{% block content %}
  <div class="container">
  <div class="header">

    <h1>{{ phone_info.name }}</h1>
  </div>

  <div class="content">
    <img src="{{ phone_info.image }}" alt="{{ phone_info.name }}"/>
    <div>Стоимость: {{ phone_info.price }} ₽</div>
    <div>Дата выпуска: {{ phone_info.release_date }}</div>
    <div>LTE: {{ phone_info.lte_exists|yesno:'есть,нет' }}</div>
  </div>
{% endblock %}